/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
 */

@keyframes changeColorLogo {
  0% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  10% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #96825e 10%,
      #cda861 15%,
      #f5daa7 17%,
      #cda861 20%,
      #96825e 25%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  20% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #96825e 20%,
      #cda861 25%,
      #f5daa7 27%,
      #cda861 30%,
      #96825e 35%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  30% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #96825e 30%,
      #cda861 35%,
      #f5daa7 37%,
      #cda861 40%,
      #96825e 45%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  40% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #96825e 40%,
      #cda861 45%,
      #f5daa7 47%,
      #cda861 50%,
      #96825e 55%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  50% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #96825e 50%,
      #cda861 55%,
      #f5daa7 57%,
      #cda861 60%,
      #96825e 65%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  60% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #96825e 60%,
      #cda861 65%,
      #f5daa7 67%,
      #cda861 70%,
      #96825e 75%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  70% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #96825e 70%,
      #cda861 75%,
      #f5daa7 77%,
      #cda861 80%,
      #96825e 85%,
      #34383d 90%,
      #34383d 100%
    );
  }
  80% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #96825e 80%,
      #cda861 85%,
      #f5daa7 87%,
      #cda861 90%,
      #96825e 95%,
      #34383d 100%
    );
  }
  90% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #96825e 90%,
      #cda861 95%,
      #f5daa7 97%,
      #cda861 100%
    );
  }
  100% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #96825e 100%
    );
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  background-color: transparent;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  color: #34383d;
  font-size: 22px;
  line-height: 1.23;

  /* cursor: url(../images/cursor.png), auto; */
}

/* ------------- base style -------------- */
.container {
  width: 1820px;
  padding: 0 70px;
  margin: 0 auto;
}

.logo {
  padding: 12px 35px 11px 35px;
  font-size: 40px;
  line-height: 1.18;
  color: #ffffff;
  background: #34383d;
}

.logo:hover,
.logo:focus {
  animation-name: changeColorLogo;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: 2;
}

.btn {
  min-width: 220px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #34383d;
  background-color: #cda861;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px 0px rgba(52, 56, 61, 0.2);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: #cda861;
  background-color: #34383d;
}

.section-title {
  position: relative;
  margin-bottom: 32px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

/* ------------- header -------------- */
.page-header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 20px;

  z-index: 2;
}

.page-header__upper-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.page-header__lower-part {
  display: flex;
  align-items: center;
}

.page-header__left-part,
.page-header__right-part {
  display: flex;
  align-items: center;
  gap: 60px;
}

.page-header__right-part {
  gap: 20px;
}

.phone {
  display: flex;
  align-items: center;
  margin-right: 60px;
  color: #34383d;
  font-weight: 500;
  line-height: 1;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:hover,
.phone:focus {
  color: #cda861;
}

.phone-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  fill: #34383d;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:hover .phone-icon,
.phone:focus .phone-icon {
  fill: #cda861;
}

.welcome {
  font-style: italic;
  font-weight: 500;
}

.page-header__currency {
  border: 2px solid #cda861;
  border-radius: 50px;
  background-color: transparent;
}

.page-header__type-currency {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #34383d;
}

.page-header__type-currency--home-page {
  color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-right: 50px;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.navigation__link {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 500;
  color: rgba(52, 56, 61, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: #cda861;
}

.navigation__link--active {
  color: #34383d;
}

.navigation__link--active::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 17%;
  width: 50%;
  height: 3px;
  background-color: #cda861;
  border-radius: 2px;
}

.navigation__link--active::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 17%;
  width: 12%;
  height: 3px;
  background-color: #cda861;
  border-radius: 2px;
}

.page-header__search-form {
  display: flex;
  align-items: center;
  margin-right: 40px;
  flex-grow: 1;
}

.page-header__search-input {
  width: 100%;
  color: #cda861;
  border-bottom: 1px solid transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__search-form:hover .page-header__search-input,
.page-header__search-form:focus .page-header__search-input {
  border-bottom: 1px solid #cda861;
}

.page-header__basket-btn,
.page-header__search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__basket-btn:hover,
.page-header__basket-btn:focus,
.page-header__search-btn:hover,
.page-header__search-btn:focus {
  transform: scale(1.1);
}

.page-header__basket-icon,
.page-header__search-icon {
  stroke: #cda861;
  width: 40px;
  height: 40px;
}

/* --------------- hero ---------------- */
.hero {
  background: linear-gradient(
    90deg,
    #d6cfc2 0%,
    rgba(255, 255, 255, 0.5) 60%,
    #d6cfc2 100%
  );
}

.hero .container {
  position: relative;
  padding-top: 345px;
  padding-bottom: 228px;
  background: url(../images/img-hero-1.png), url(../images/img-hero-2.png),
    url(../images/img-hero-3.png);
  background-repeat: no-repeat;
  background-position: right center, right 14px top 262px, right center;
  background-size: contain, auto, contain;
  overflow: hidden;
}

.hero__title {
  margin-bottom: 105px;
  width: 640px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 76px;
  line-height: 1.22;
}

.hero__title--accent {
  position: relative;
  color: #cda861;
}

.hero__title--accent::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  width: 100%;
  height: 4px;
  background-color: #cda861;
}

.hero__text {
  width: 489px;
  margin-bottom: 104px;
}

.hero_decor {
  position: absolute;
  left: 441px;
  bottom: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 42px;
  width: 135px;
  height: 130px;
}

.hero_decor--up {
  left: 797px;
  top: 270px;
  width: 135px;
  height: 130px;
}

.hero_decor--down {
  left: 441px;
  bottom: 49px;
  width: 135px;
  height: 130px;
}

.hero_circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: linear-gradient(
    rgba(158, 149, 185, 0.1),
    rgba(135, 146, 173, 0.1),
    rgba(97, 106, 140, 0.1),
    rgba(83, 91, 128, 0.1)
  );
}

.hero_left-wide-line {
  position: absolute;
  left: -268px;
  top: 370px;
  width: 342px;
  height: 65px;
  border-radius: 30px;
  background: linear-gradient(rgba(94, 87, 73, 0.1), rgba(159, 155, 137, 0.1));
  transform: rotate(-45deg);
}

.hero_left-thin-line {
  position: absolute;
  left: -187px;
  top: 403px;
  width: 273px;
  height: 18px;
  border-radius: 9px;
  background: linear-gradient(rgba(94, 87, 73, 0.1), rgba(159, 155, 137, 0.1));
  transform: rotate(-45deg);
}

.hero_down-small-line {
  position: absolute;
  right: 600px;
  bottom: 67px;
  width: 148px;
  height: 26px;
  border-radius: 13px;
  background: linear-gradient(
    rgba(136, 128, 113, 0.4),
    rgba(201, 198, 185, 0.4)
  );
  transform: rotate(-45deg);
}

.hero_down-medium-line {
  position: absolute;
  right: 444px;
  bottom: 34px;
  width: 225px;
  height: 43px;
  border-radius: 22px;
  background: linear-gradient(rgba(94, 87, 73, 0.6), rgba(159, 155, 137, 0.6));
  transform: rotate(-45deg);
}

.hero_down-big-line {
  position: absolute;
  right: 429px;
  bottom: 37px;
  width: 394px;
  height: 75px;
  border-radius: 37px;
  background: linear-gradient(rgba(94, 87, 73, 0.2), rgba(159, 155, 137, 0.2));
  transform: rotate(-45deg);
}

/* ------------------ about-us --------------- */
.about-us > .container {
  padding: 80px 110px 80px 110px;
  background-image: url(../images/bg-decor-img-about-us.svg);
  background-repeat: no-repeat;
  background-position: bottom 0px left 17px;
}

.about-us__background {
  border-radius: 50px;
  background-color: rgba(205, 168, 97, 0.1);
}

.about-us__content {
  padding: 74px 285px 79px 802px;
  background-image: url(../images/home-img-about-us.png),
    url(../images/chair-img-about-us.png);
  background-repeat: no-repeat;
  background-position: top 16px left 70px, top 147px right 12px;
}

.about-us__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 170px;
  height: 2px;
  background-color: #cda861;
}

.about-us__after-title {
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 76px;
  font-weight: 600;
  width: 461px;
  text-transform: uppercase;
}

.about-us__text {
  margin-bottom: 24px;
  width: 513px;
  font-weight: 500;
}

/* ------------------ products --------------- */
.products > .container {
  background-image: url(../images/decor-img-products.png);
  background-repeat: no-repeat;
  background-position: top 94px right -35px;
}

.products__title {
  text-align: center;
}

.products__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 410px;
  height: 2px;
  background-color: #cda861;
}

.products__text {
  margin-bottom: 38px;
  text-align: center;
}

.products__slider {
  display: flex;
  align-items: center;
}

.products__slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #cda861;
}

.products__list {
  display: flex;
  gap: 57px;
  margin-left: 36px;
  margin-right: 36px;
}

.products__item {
  position: relative;
  padding-top: 38px;
  width: 257px;
}

.products__img-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 131px;
  max-height: 109px;
}

.products__text-wrapper {
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 18px;
  margin-bottom: 20px;
  height: 149px;
  border-radius: 30px;
  background-color: #f2f1f1;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__item:hover .products__text-wrapper,
.products__item:focus .products__text-wrapper {
  background-color: #cda861;
}

.products__name {
  font-size: 24px;
  font-weight: 500;
}

.products__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 17px;
}

.products__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 19px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__item:hover .products__icon {
  transform: scale(1.25);
}

.products__price {
  margin-bottom: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}

.products__about-product {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: rgba(52, 56, 61, 0.8);
}

.products__btn-add-to-cart {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 199px;
  height: 50px;
  border: 2px solid #cda861;
  border-radius: 50px;
  background-color: transparent;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__item:hover .products__btn-add-to-cart,
.products__item:focus .products__btn-add-to-cart {
  background-color: #cda861;
}
