/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
 */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* img {
  display: block;
  width: 100%;
  height: auto;
} */

a {
  text-decoration: none;
}

input,
textarea {
  background-color: transparent;
  outline: none;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  color: #34383d;
  font-size: 22px;
  line-height: 1.23;

  cursor: url(../images/cursor.png), auto;
}

/* ------------- base style -------------- */
.container {
  width: 1920px;
  padding: 0 120px;
  margin: 0 auto;
}

.logo {
  padding: 12px 35px 11px 35px;
  font-size: 40px;
  line-height: 1.18;
  color: #ffffff;
  background-color: #34383d;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  background-color: #cda861;
}

.btn {
  cursor: pointer;
  min-width: 220px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #34383d;
  background-color: #cda861;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px 0px rgba(52, 56, 61, 0.2);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: #cda861;
  background-color: #34383d;
}

/* ------------- header -------------- */
.page-header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 20px;

  z-index: 2;
}

.page-header__upper-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.page-header__lower-part {
  display: flex;
  align-items: center;
}

.page-header__left-part,
.page-header__right-part {
  display: flex;
  align-items: center;
  gap: 60px;
}

.page-header__right-part {
  gap: 20px;
}

.phone {
  display: flex;
  align-items: center;
  margin-right: 60px;
  color: #34383d;
  font-weight: 500;
  line-height: 1;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:hover,
.phone:focus {
  color: #cda861;
}

.phone-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  fill: #34383d;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:hover .phone-icon,
.phone:focus .phone-icon {
  fill: #cda861;
}

.welcome {
  font-style: italic;
  font-weight: 500;
}

.page-header__currency {
  border: 2px solid #cda861;
  border-radius: 50px;
  background-color: transparent;
}

.page-header__type-currency {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #34383d;
}

.page-header__type-currency--home-page {
  color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-right: 50px;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.navigation__link {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 500;
  color: rgba(52, 56, 61, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: #cda861;
}

.navigation__link--active {
  color: #34383d;
}

.navigation__link--active::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 17%;
  width: 50%;
  height: 3px;
  background-color: #cda861;
  border-radius: 2px;
}

.navigation__link--active::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 17%;
  width: 12%;
  height: 3px;
  background-color: #cda861;
  border-radius: 2px;
}

.page-header__search-form {
  display: flex;
  align-items: center;
  margin-right: 40px;
  flex-grow: 1;
}

.page-header__search-input {
  width: 100%;
  color: #cda861;
  border-bottom: 1px solid transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__search-form:hover .page-header__search-input,
.page-header__search-form:focus .page-header__search-input {
  border-bottom: 1px solid #cda861;
}

.page-header__basket-btn,
.page-header__search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__basket-btn:hover,
.page-header__basket-btn:focus,
.page-header__search-btn:hover,
.page-header__search-btn:focus {
  transform: scale(1.1);
}

.page-header__basket-icon,
.page-header__search-icon {
  stroke: #cda861;
  width: 40px;
  height: 40px;
}

/* --------------- hero ---------------- */
.hero {
  background: linear-gradient(
    90deg,
    #d6cfc2 0%,
    rgba(255, 255, 255, 0.5) 60%,
    #d6cfc2 100%
  );
}

.hero .container {
  position: relative;
  padding-top: 345px;
  padding-bottom: 228px;
  background: url(../images/img-hero-1.png), url(../images/img-hero-2.png),
    url(../images/img-hero-3.png);
  background-repeat: no-repeat;
  background-position: right center, right 14px top 262px, right center;
  background-size: contain, auto, contain;
  overflow: hidden;
}

.hero__title {
  margin-bottom: 105px;
  width: 640px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 76px;
  line-height: 1.22;
}

.hero__title--accent {
  position: relative;
  color: #cda861;
}

.hero__title--accent::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  width: 100%;
  height: 4px;
  background-color: #cda861;
}

.hero__text {
  width: 489px;
  margin-bottom: 104px;
}

.hero_decor {
  position: absolute;
  left: 441px;
  bottom: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 42px;
  width: 135px;
  height: 130px;
}

.hero_decor--up {
  left: 797px;
  top: 270px;
  width: 135px;
  height: 130px;
}

.hero_decor--down {
  left: 441px;
  bottom: 49px;
  width: 135px;
  height: 130px;
}

.hero_circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: linear-gradient(
    rgba(158, 149, 185, 0.1),
    rgba(135, 146, 173, 0.1),
    rgba(97, 106, 140, 0.1),
    rgba(83, 91, 128, 0.1)
  );
}

.hero_left-wide-line {
  position: absolute;
  left: -178px;
  top: 370px;
  width: 342px;
  height: 65px;
  border-radius: 30px;
  background: linear-gradient(rgba(94, 87, 73, 0.1), rgba(159, 155, 137, 0.1));
  transform: rotate(-45deg);
}

.hero_left-thin-line {
  position: absolute;
  left: -96px;
  top: 403px;
  width: 273px;
  height: 18px;
  border-radius: 9px;
  background: linear-gradient(rgba(94, 87, 73, 0.1), rgba(159, 155, 137, 0.1));
  transform: rotate(-45deg);
}

.hero_down-small-line {
  position: absolute;
  right: 600px;
  bottom: 67px;
  width: 148px;
  height: 26px;
  border-radius: 13px;
  background: linear-gradient(
    rgba(136, 128, 113, 0.4),
    rgba(201, 198, 185, 0.4)
  );
  transform: rotate(-45deg);
}

.hero_down-medium-line {
  position: absolute;
  right: 444px;
  bottom: 34px;
  width: 225px;
  height: 43px;
  border-radius: 22px;
  background: linear-gradient(rgba(94, 87, 73, 0.6), rgba(159, 155, 137, 0.6));
  transform: rotate(-45deg);
}

.hero_down-big-line {
  position: absolute;
  right: 429px;
  bottom: 37px;
  width: 394px;
  height: 75px;
  border-radius: 37px;
  background: linear-gradient(rgba(94, 87, 73, 0.2), rgba(159, 155, 137, 0.2));
  transform: rotate(-45deg);
}
