/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
 */

@keyframes changeColorLogo {
  0% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  10% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #96825e 10%,
      #cda861 15%,
      #f5daa7 17%,
      #cda861 20%,
      #96825e 25%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  20% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #96825e 20%,
      #cda861 25%,
      #f5daa7 27%,
      #cda861 30%,
      #96825e 35%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  30% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #96825e 30%,
      #cda861 35%,
      #f5daa7 37%,
      #cda861 40%,
      #96825e 45%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  40% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #96825e 40%,
      #cda861 45%,
      #f5daa7 47%,
      #cda861 50%,
      #96825e 55%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  50% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #96825e 50%,
      #cda861 55%,
      #f5daa7 57%,
      #cda861 60%,
      #96825e 65%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  60% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #96825e 60%,
      #cda861 65%,
      #f5daa7 67%,
      #cda861 70%,
      #96825e 75%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  70% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #96825e 70%,
      #cda861 75%,
      #f5daa7 77%,
      #cda861 80%,
      #96825e 85%,
      #34383d 90%,
      #34383d 100%
    );
  }
  80% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #96825e 80%,
      #cda861 85%,
      #f5daa7 87%,
      #cda861 90%,
      #96825e 95%,
      #34383d 100%
    );
  }
  90% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #96825e 90%,
      #cda861 95%,
      #f5daa7 97%,
      #cda861 100%
    );
  }
  100% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #96825e 100%
    );
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  background-color: transparent;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  color: #34383d;
  font-size: 22px;
  line-height: 1.23;

  /* cursor: url(../images/cursor.png), auto; */
}

/* ------------- base style -------------- */
.container {
  width: 1820px;
  padding: 0 70px;
  margin: 0 auto;
}

.logo {
  padding: 12px 35px 11px 35px;
  font-size: 40px;
  line-height: 1.18;
  color: #ffffff;
  background: #34383d;
}

.logo:hover,
.logo:focus {
  animation-name: changeColorLogo;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: 2;
}

.btn {
  display: block;
  min-width: 220px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #34383d;
  background-color: #cda861;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px 0px rgba(52, 56, 61, 0.2);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: #cda861;
  background-color: #34383d;
}

.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #cda861;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider-btn:hover,
.slider-btn:focus {
  background-color: #34383d;
}

.slider-btn-icon {
  fill: #34383d;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider-btn:hover .slider-btn-icon,
.slider-btn:focus .slider-btn-icon {
  fill: #cda861;
}

.section-title {
  position: relative;
  margin-bottom: 32px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

/* ------------- header -------------- */
.page-header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  padding-top: 20px;
}

.page-header__upper-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.page-header__lower-part {
  display: flex;
  align-items: center;
}

.page-header__left-part,
.page-header__right-part {
  display: flex;
  align-items: center;
  gap: 60px;
}

.page-header__right-part {
  gap: 20px;
}

.phone {
  display: flex;
  align-items: center;
  margin-right: 60px;
  color: #34383d;
  font-weight: 500;
  line-height: 1;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:hover,
.phone:focus {
  color: #cda861;
}

.phone-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  fill: #34383d;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:hover .phone-icon,
.phone:focus .phone-icon {
  fill: #cda861;
}

.welcome {
  font-style: italic;
  font-weight: 500;
}

.page-header__currency {
  border: 2px solid #cda861;
  border-radius: 50px;
  background-color: transparent;
}

.page-header__type-currency {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #34383d;
}

.page-header__type-currency--home-page {
  color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-right: 50px;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.navigation__link {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 500;
  color: rgba(52, 56, 61, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: #cda861;
}

.navigation__link--active {
  color: #34383d;
}

.navigation__link--active::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 17%;
  width: 50%;
  height: 3px;
  background-color: #cda861;
  border-radius: 2px;
}

.navigation__link--active::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 17%;
  width: 12%;
  height: 3px;
  background-color: #cda861;
  border-radius: 2px;
}

.page-header__search-form {
  display: flex;
  align-items: center;
  margin-right: 40px;
  flex-grow: 1;
}

.page-header__search-input {
  width: 100%;
  color: #cda861;
  border-bottom: 1px solid transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__search-form:hover .page-header__search-input,
.page-header__search-form:focus .page-header__search-input {
  border-bottom: 1px solid #cda861;
}

.page-header__basket-btn,
.page-header__search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__basket-btn:hover,
.page-header__basket-btn:focus,
.page-header__search-btn:hover,
.page-header__search-btn:focus {
  transform: scale(1.1);
}

.page-header__basket-icon,
.page-header__search-icon {
  stroke: #cda861;
  width: 40px;
  height: 40px;
}

/* --------------- hero ---------------- */
.hero {
  background: linear-gradient(
    90deg,
    #d6cfc2 0%,
    rgba(255, 255, 255, 0.5) 60%,
    #d6cfc2 100%
  );
}

.hero__container {
  position: relative;
  padding-top: 345px;
  padding-bottom: 228px;
  background: url(../images/img-hero-1.png), url(../images/img-hero-2.png),
    url(../images/img-hero-3.png);
  background-repeat: no-repeat;
  background-position: right center, right 14px top 262px, right center;
  background-size: contain, auto, contain;
  overflow: hidden;
}

.hero__title {
  margin-bottom: 105px;
  width: 640px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 76px;
  line-height: 1.22;
}

.hero__title--accent {
  position: relative;
  color: #cda861;
}

.hero__title--accent::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  width: 100%;
  height: 4px;
  background-color: #cda861;
}

.hero__text {
  width: 489px;
  margin-bottom: 104px;
}

.hero_decor {
  position: absolute;
  left: 441px;
  bottom: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 42px;
  width: 135px;
  height: 130px;
}

.hero_decor--up {
  left: 797px;
  top: 270px;
  width: 135px;
  height: 130px;
}

.hero_decor--down {
  left: 441px;
  bottom: 49px;
  width: 135px;
  height: 130px;
}

.hero_circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: linear-gradient(
    rgba(158, 149, 185, 0.1),
    rgba(135, 146, 173, 0.1),
    rgba(97, 106, 140, 0.1),
    rgba(83, 91, 128, 0.1)
  );
}

.hero_left-wide-line {
  position: absolute;
  left: -232px;
  top: 370px;
  width: 342px;
  height: 65px;
  border-radius: 30px;
  background: linear-gradient(rgba(94, 87, 73, 0.1), rgba(159, 155, 137, 0.1));
  transform: rotate(-45deg);
}

.hero_left-thin-line {
  position: absolute;
  left: -149px;
  top: 403px;
  width: 273px;
  height: 18px;
  border-radius: 9px;
  background: linear-gradient(rgba(94, 87, 73, 0.1), rgba(159, 155, 137, 0.1));
  transform: rotate(-45deg);
}

.hero_down-small-line {
  position: absolute;
  right: 600px;
  bottom: 67px;
  width: 148px;
  height: 26px;
  border-radius: 13px;
  background: linear-gradient(
    rgba(136, 128, 113, 0.4),
    rgba(201, 198, 185, 0.4)
  );
  transform: rotate(-45deg);
}

.hero_down-medium-line {
  position: absolute;
  right: 444px;
  bottom: 34px;
  width: 225px;
  height: 43px;
  border-radius: 22px;
  background: linear-gradient(rgba(94, 87, 73, 0.6), rgba(159, 155, 137, 0.6));
  transform: rotate(-45deg);
}

.hero_down-big-line {
  position: absolute;
  right: 429px;
  bottom: 37px;
  width: 394px;
  height: 75px;
  border-radius: 37px;
  background: linear-gradient(rgba(94, 87, 73, 0.2), rgba(159, 155, 137, 0.2));
  transform: rotate(-45deg);
}

/* ------------------ about-us --------------- */
.about-us__container {
  padding: 80px 110px 80px 110px;
  background-image: url(../images/bg-decor-img-about-us.svg);
  background-repeat: no-repeat;
  background-position: bottom 0px left 17px;
}

.about-us__background {
  border-radius: 50px;
  background-color: rgba(205, 168, 97, 0.1);
}

.about-us__content {
  padding: 74px 285px 79px 802px;
  background-image: url(../images/home-img-about-us.png),
    url(../images/chair-img-about-us.png);
  background-repeat: no-repeat;
  background-position: top 16px left 70px, top 147px right 12px;
}

.about-us__title {
  text-align: left;
}

.about-us__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 170px;
  height: 2px;
  background-color: #cda861;
}

.about-us__after-title {
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 76px;
  font-weight: 600;
  width: 461px;
  text-transform: uppercase;
}

.about-us__text {
  margin-bottom: 24px;
  width: 513px;
  font-weight: 500;
}

/* ------------------ products --------------- */
.products__container {
  background-image: url(../images/decor-img-products.png);
  background-repeat: no-repeat;
  background-position: top 94px right -35px;
}

.products__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 410px;
  height: 2px;
  background-color: #cda861;
}

.products__text {
  margin-bottom: 38px;
  text-align: center;
}

.products__slider {
  display: flex;
  align-items: center;
}

.products__list {
  display: flex;
  gap: 57px;
  margin-left: 36px;
  margin-right: 36px;
}

.products__item {
  position: relative;
  padding-top: 38px;
  width: 257px;
}

.products__img-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 131px;
  max-height: 109px;
}

.products__text-wrapper {
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 18px;
  margin-bottom: 20px;
  height: 149px;
  border-radius: 30px;
  background-color: #f2f1f1;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__item:hover .products__text-wrapper,
.products__item:focus .products__text-wrapper {
  background-color: #cda861;
}

.products__name {
  font-size: 24px;
  font-weight: 500;
}

.products__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 17px;
}

.products__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 19px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__item:hover .products__icon {
  transform: scale(1.25);
}

.products__price {
  margin-bottom: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}

.products__about-product {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: rgba(52, 56, 61, 0.8);
}

.products__btn-add-to-cart {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 199px;
  height: 50px;
  border: 2px solid #cda861;
  border-radius: 50px;
  background-color: transparent;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__item:hover .products__btn-add-to-cart,
.products__item:focus .products__btn-add-to-cart {
  background-color: #cda861;
}

/* ------------------ sale --------------- */
.sale__container {
  padding: 80px 150px;
  background-image: url(../images/decor-img-sale-2-min.png),
    url(../images/decor-img-sale-1-min.png);
  background-repeat: no-repeat;
  background-position: left -39px bottom 10px, right 44px top 32px;
}

.sale__content {
  padding-top: 60px;
  width: 1520px;
  height: 767px;
  border-radius: 50px;
  border: 5px solid #aacacd;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.05) 0.01%
    ),
    url(../images/bg-img-sale-min.png),
    lightgray 1.6px -106.427px / 100% 146.938% no-repeat;
}

.sale__title {
  margin-bottom: 34px;
  color: #000000;
}

.sale__timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
  gap: 71px;
}

.sale__days,
.sale__hours,
.sale__minutes,
.sale__seconds {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sale__timer-value {
  margin-bottom: 3px;
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #f3e9e9;
  font-size: 24px;
}

.sale__timer-text {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

.sale__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
}

/* ------------- star products -------------- */
.star-products__container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../images/decor-img-star-products-min.png);
  background-repeat: no-repeat;
  background-position: top 150px right -32px;
}

.star-products__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 343px;
  height: 2px;
  background-color: #cda861;
}

.star-products__text {
  margin-bottom: 30px;
  color: rgba(52, 56, 61, 0.8);
  font-weight: 500;
  text-align: center;
}

.star-products__filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 133px;
}

.star-products__filter-item {
  position: relative;
}

.star-products__filter-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translate(50%, -50%);
  width: 113px;
  height: 1px;
  background-color: #34383d;
}

.star-products__filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #34383d;
  background: #fffcfc;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.star-products__filter-btn:hover,
.star-products__filter-btn:focus {
  border-color: #cda861;
}

.filter-btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(52, 56, 61, 0.2);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.star-products__filter-btn--active .filter-btn-circle {
  background-color: #cda861;
}

.star-products__filter-btn:hover .filter-btn-circle,
.star-products__filter-btn:focus .filter-btn-circle {
  background-color: #cda861;
}

.star-products__filter-type {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.star-products__slider {
  display: flex;
  align-items: center;
  gap: 39px;
}

.star-products__list {
  display: flex;
  align-items: center;
  gap: 22px;
  flex-grow: 1;
}

.star-products__item {
  flex-grow: 1;
  padding: 36px 54px 36px 54px;
  border-radius: 200px 200px 20px 20px;
  border: 2px dashed rgba(52, 56, 61, 0.5);
}

.star-products__item:hover,
.star-products__item:focus {
  box-shadow: 0px 15px 39px 0px rgba(0, 0, 0, 0.1);
}

.star-products__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 14px auto;
  width: 206px;
  height: 270px;
}

.star-products__path-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.star-products__title-card {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}

.star-products__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.star-products__rating-icon {
  margin-right: 10px;
}

.star-products__btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #cda861;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.star-products__btn-cart:hover,
.star-products__btn-cart:focus {
  background-color: #34383d;
}

.star-products__btn-cart-icon {
  stroke: #34383d;

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.star-products__btn-cart:hover .star-products__btn-cart-icon,
.star-products__btn-cart:focus .star-products__btn-cart-icon {
  stroke: #cda861;
}

.star-products__price {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

/* ------------ advantages ------------ */
.advantages__container {
  position: relative;
  padding-top: 460px;
  padding-bottom: 80px;
  background: url(../images/decor-img-advantages-min.png);
  background-repeat: no-repeat;
  background-position: top 60px left -108px;
}

.advantages__centre-decor {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 956px;
  height: 415px;
  background: url(../images/sofa-min.png);
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 155px;
  padding: 121px 324px;
  border-radius: 30px;
  background: rgba(205, 168, 97, 0.19);
}

.advantages__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #000;
}

.advantages__title {
  font-size: 20px;
  font-weight: 500;
}

.advantages__text {
  font-size: 14px;
}

/* ------------------ blog ------------------ */
.blog__container {
  position: relative;
  padding: 80px 268px 147px 268px;
  background-image: url(../images/decor-1-blog.svg),
    url(../images/decor-2-blog.svg);
  background-repeat: no-repeat;
  background-position: top 92px right 70px, left -49px bottom 502px;
}

.blog__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 430px;
  height: 2px;
  background-color: #cda861;
}

.blog__text {
  margin-bottom: 30px;
  color: rgba(52, 56, 61, 0.8);
  font-weight: 500;
  text-align: center;
}

.blog__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 114px;
}

.blog__item {
  position: relative;
  flex-basis: calc((100% - 114px) / 2);
  border-radius: 50px;
  border: 2px solid rgba(86, 86, 85, 0.5);
  overflow: hidden;
  background-color: lightgray;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blog__item:hover,
.blog__item:focus {
  border-color: #565655;
  box-shadow: 0px 5px 39px 0px rgba(0, 0, 0, 0.29);
}

.blog__post-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.18) 26.56%,
    rgba(0, 0, 0, 0.8) 93.23%
  );
}

.blog__info {
  position: absolute;
  left: 50px;
  bottom: 20px;
  color: #fff;
}

.blog__icon {
  margin-right: 5px;
}

.blog__upper-part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

.blog__date,
.blog__comments {
  display: flex;
  align-items: center;
}

.blog__post-title {
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 500;
}

.blog__post-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 500;
}

.blog__accent-bg {
  z-index: -1;
  position: absolute;
  left: 70px;
  bottom: 80px;
  width: 1036px;
  height: 604px;
  border-radius: 0px 100px 100px 0px;
  background: #f5eee1;
}

/* ---------------- reviews ----------------- */
.reviews {
  background-color: #f5eee1;
}

.reviews__container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../images/decor-img-1-reviews.svg),
    url(../images/decor-img-2-reviews.svg);
  background-repeat: no-repeat;
  background-position: top 0px left 16px, bottom 114px left 121px;
}

.reviews__title {
  margin-bottom: 42px;
}

.reviews__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 348px;
  height: 2px;
  background-color: #cda861;
}

.reviews__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.reviews__item {
  position: relative;
  padding-top: 50px;
  flex-basis: calc((100%-2 * 30px) / 3);
}
.reviews__img-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 108px;
  height: 108px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: lightgray;
  overflow: hidden;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews__item:hover .reviews__img-wrapper,
.reviews__item:focus .reviews__img-wrapper {
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.15);
}

.reviews__content-wrapper {
  padding: 108px 21px 50px 21px;
  border-radius: 30px;
  background: #f8f7f7;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews__item:hover .reviews__content-wrapper,
.reviews__item:focus .reviews__content-wrapper {
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.15);
}

.reviews__text,
.reviews__name,
.reviews__profession {
  text-align: center;
}

.reviews__text {
  margin-bottom: 50px;
  font-size: 18px;
  letter-spacing: 1.62px;
  color: rgba(52, 56, 61, 0.8);
}

.reviews__name {
  color: #000;
  font-weight: 700;
  letter-spacing: 1.98px;
}

.reviews__profession {
  color: #000;
  font-size: 20px;
  letter-spacing: 1.8px;
}

/* ---------------- featured products ----------------- */
.featured-products__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.featured-products__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 354px;
  height: 2px;
  background-color: #cda861;
}

.featured-products__text {
  text-align: center;
  font-weight: 500;
  color: rgba(52, 56, 61, 0.8);
}
