.circle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  background-color: var(--accent-color);
  border-radius: 50%;

  transition: background-color 250ms var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--dark-bg);
  }
}

.circle-btn-icon {
  fill: var(--main-color);
  transition: fill 250ms var(--transition-timing-function);

  .circle-btn:hover &,
  .circle-btn:focus & {
    fill: var(--accent-color);
  }
}
