.logo {
  padding: 12px 35px 11px 35px;
  font-size: 40px;
  line-height: 1.18;
  color: #ffffff;
  background-color: #34383d;
}

.logo:hover,
.logo:focus {
  animation-name: changeColorLogo;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: 2;
}
