.logo {
  padding: 12px 35px 11px 35px;
  font-size: 40px;
  line-height: 1.18;
  color: var(--third-color);
  background-color: var(--dark-bg);

  &:hover,
  &:focus {
    -webkit-animation: changeColorLogo 500ms var(--transition-timing-function) 2;
    animation: changeColorLogo 500ms var(--transition-timing-function) 2;
  }
}
