.logo {
  padding: 12px 35px 11px 35px;
  font-size: 40px;
  line-height: 1.18;
  color: var(--logo-color);
  background-color: var(--logo-bg-color);

  &:hover,
  &:focus {
    animation: changeColorLogo 500ms var(--transition-timing-function) 2;
  }
}
