.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  background-color: var(--button-bg-color);
  border-radius: 50%;

  transition: background-color 250ms var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--button-bg-color-hover);
  }
}

.slider-btn-icon {
  fill: var(--icon-btn-color);
  transition: fill 250ms var(--transition-timing-function);

  .slider-btn:hover &,
  .slider-btn:focus & {
    fill: var(--icon-btn-color-hover);
  }
}
