.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  background-color: #cda861;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider-btn:hover,
.slider-btn:focus {
  background-color: #34383d;
}

.slider-btn-icon {
  fill: #34383d;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider-btn:hover .slider-btn-icon,
.slider-btn:focus .slider-btn-icon {
  fill: #cda861;
}
