@keyframes changeColorLogo {
  0% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  10% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #96825e 10%,
      #cda861 15%,
      #f5daa7 17%,
      #cda861 20%,
      #96825e 25%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  20% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #96825e 20%,
      #cda861 25%,
      #f5daa7 27%,
      #cda861 30%,
      #96825e 35%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  30% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #96825e 30%,
      #cda861 35%,
      #f5daa7 37%,
      #cda861 40%,
      #96825e 45%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  40% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #96825e 40%,
      #cda861 45%,
      #f5daa7 47%,
      #cda861 50%,
      #96825e 55%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  50% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #96825e 50%,
      #cda861 55%,
      #f5daa7 57%,
      #cda861 60%,
      #96825e 65%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  60% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #96825e 60%,
      #cda861 65%,
      #f5daa7 67%,
      #cda861 70%,
      #96825e 75%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  70% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #96825e 70%,
      #cda861 75%,
      #f5daa7 77%,
      #cda861 80%,
      #96825e 85%,
      #34383d 90%,
      #34383d 100%
    );
  }
  80% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #96825e 80%,
      #cda861 85%,
      #f5daa7 87%,
      #cda861 90%,
      #96825e 95%,
      #34383d 100%
    );
  }
  90% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #96825e 90%,
      #cda861 95%,
      #f5daa7 97%,
      #cda861 100%
    );
  }
  100% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #96825e 100%
    );
  }
}
@keyframes visibilityDecorativeElementLamp {
  0% {
    background: url(../images/hero/lamp-min.png);
    background-repeat: no-repeat;
    background-position: right 0px top 0;
    background-size: contain;
    transform: scale(1.2);
  }

  100% {
    background: url(../images/hero/lamp-min.png);
    background-repeat: no-repeat;
    background-position: right -68px top 0;
    background-size: contain;
    transform: scale(1);
  }
}
@keyframes visibilityDecorativeElementSofa {
  from {
    background: url(../images/hero/sofa-min.png);
    background-repeat: no-repeat;
    background-position: right 788px top 0;
    background-size: contain;
    transform: scale(1.2) translateX(27%);
  }
  to {
    background: url(../images/hero/sofa-min.png);
    background-repeat: no-repeat;
    background-position: left 788px top 0;
    background-size: contain;
    transform: scale(1);
  }
}
@keyframes visibilityDecorativeElementPlant {
  from {
    background: url(../images/hero/plant-min.png);
    background-repeat: no-repeat;
    background-position: left 578px top 0;
    background-size: contain;
    transform: scale(0.8) translateX(-5%);
  }
  to {
    background: url(../images/hero/plant-min.png);
    background-repeat: no-repeat;
    background-position: left 578px top 0;
    background-size: contain;
    transform: scale(1);
  }
}
