@keyframes changeColorLogo {
  0% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  10% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #46494d 10%,
      #697078 15%,
      #b6bbc1 17%,
      #697078 20%,
      #46494d 25%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  20% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #46494d 20%,
      #697078 25%,
      #b6bbc1 27%,
      #697078 30%,
      #46494d 35%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  30% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #46494d 30%,
      #697078 35%,
      #b6bbc1 37%,
      #697078 40%,
      #46494d 45%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  40% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #46494d 40%,
      #697078 45%,
      #b6bbc1 47%,
      #697078 50%,
      #46494d 55%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  50% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #46494d 50%,
      #697078 55%,
      #b6bbc1 57%,
      #697078 60%,
      #46494d 65%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  60% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #46494d 60%,
      #697078 65%,
      #b6bbc1 67%,
      #697078 70%,
      #46494d 75%,
      #34383d 80%,
      #34383d 90%,
      #34383d 100%
    );
  }
  70% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #46494d 70%,
      #697078 75%,
      #b6bbc1 77%,
      #697078 80%,
      #46494d 85%,
      #34383d 90%,
      #34383d 100%
    );
  }
  80% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #46494d 80%,
      #697078 85%,
      #b6bbc1 87%,
      #697078 90%,
      #46494d 95%,
      #34383d 100%
    );
  }
  90% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #46494d 90%,
      #697078 95%,
      #b6bbc1 97%,
      #697078 100%
    );
  }
  100% {
    background: linear-gradient(
      45deg,
      #34383d 0%,
      #34383d 10%,
      #34383d 20%,
      #34383d 30%,
      #34383d 40%,
      #34383d 50%,
      #34383d 60%,
      #34383d 70%,
      #34383d 80%,
      #34383d 90%,
      #55585c 100%
    );
  }
}

@keyframes visibilityDecorativeElementLamp {
  0% {
    background: url(../images/hero/lamp-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.2);
  }

  100% {
    background: url(../images/hero/lamp-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1);
  }
}

@keyframes visibilityDecorativeElementSofa {
  from {
    background: url(../images/hero/sofa-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.2) translateX(27%);
  }
  to {
    background: url(../images/hero/sofa-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1);
  }
}

@keyframes visibilityDecorativeElementPlant {
  from {
    background: url(../images/hero/plant-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(0.8) translateX(-5%);
  }
  to {
    background: url(../images/hero/plant-min.png);
    background-repeat: no-repeat;

    background-size: contain;
    transform: scale(1);
  }
}

@keyframes lineVisibilityUnderTitle {
  from {
    left: 50%;
    transform: translateX(-50%) scale(0.3);
  }
  to {
    left: 50%;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes lineVisibilityUnderTitleAboutUsSection {
  from {
    left: 0;
    transform: translateX(0) scale(0.3);
  }
  to {
    left: 0;
    transform: translateX(0) scale(1);
  }
}

@keyframes timerStateMinutes {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -210;
  }
}

@keyframes timerStateSeconds {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -210;
  }
}
