body {
  position: relative;
  font-family: var(--main-font-family);
  font-size: 22px;
  line-height: 1.23;
  color: var(--main-color);
  background-color: var(--main-bg);
  /* cursor: url(../images/cursor.png), auto; */
}
