body {
  position: relative;
  font-family: var(--main-font-family);
  font-size: 22px;
  line-height: 1.23;
  color: var(--main-color);
  background: linear-gradient(
    90deg,
    #d6cfc2 0%,
    rgba(255, 255, 255, 0.5) 60%,
    #d6cfc2 100%
  );
  // cursor: url(../images/cursor.png), auto;

  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  overflow: hidden;
}

.page-main {
  background-color: var(--main-bg);
}
