.featured-products__container {
  padding: 80px 218px;
  background-image: url(../images/decor-img-1-featured-products.svg),
    url(../images/decor-img-1-featured-products.svg),
    url(../images/decor-img-2-featured-products.svg);
  background-repeat: no-repeat;
  background-position: top 327px left 60px, top 5px right -73px,
    bottom 516px right 631px;
}

.featured-products__title {
  &.decor-title-element::after {
    width: 354px;
  }
}

.featured-products__text {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
  color: var(--main-color-with-transparency);
}

.featured-products__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (min-width: 1750px) {
    gap: 40px;
  }
  @media screen and (min-width: 1820px) {
    gap: 80px;
  }
}

.featured-products__item {
  @media screen and (min-width: 1750px) {
    flex-basis: calc((100% - 2 * 40px) / 3);
  }
  @media screen and (min-width: 1820px) {
    flex-basis: calc((100% - 2 * 80px) / 3);
  }
}

.featured-products__img-wrapper {
  margin-bottom: 30px;
  display: block;
  width: 400px;
  height: 300px;
  background-color: var(--bg-under-img);
  border: 2px solid var(--border-img);
  border-radius: 20px;
  overflow: hidden;
  transition: box-shadow 250ms var(--transition-timing-function);
}

.featured-products__item:hover .featured-products__img-wrapper,
.featured-products__item:focus .featured-products__img-wrapper {
  box-shadow: 0px 2px 10px 0px var(--box-shadow-img-hover);
}

.featured-products__card-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: Roboto;
  line-height: 1.2;
}

.featured-products__card-text {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1.2;
}

.featured-products__price {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.featured-products__old-price {
  margin-right: 10px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--accent-color);
}

.featured-products__price-btn-rating {
  display: flex;
  align-items: center;
  gap: 43px;
}

.featured-products__rating-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.featured-products__btn-cart.btn {
  padding: 0;
  width: 160px;
  height: 40px;
  font-size: 18px;
}
