.hero {
  background: -webkit-gradient(
    linear,
    left top, right top,
    from(#d6cfc2),
    color-stop(60%, rgba(255, 255, 255, 0.5)),
    to(#d6cfc2)
  );
  background: -o-linear-gradient(
    left,
    #d6cfc2 0%,
    rgba(255, 255, 255, 0.5) 60%,
    #d6cfc2 100%
  );
  background: linear-gradient(
    90deg,
    #d6cfc2 0%,
    rgba(255, 255, 255, 0.5) 60%,
    #d6cfc2 100%
  );
}

.hero__animated-decorative-bg {
  z-index: 1;
  position: absolute;
  top: 0;
  right: -34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1278px;
  height: 1080px;
}

.hero__decorative-element-bg--lamp {
  width: 217px;
  -webkit-animation: visibilityDecorativeElementLamp 1000ms
    var(--transition-timing-function) 1800ms forwards;
          animation: visibilityDecorativeElementLamp 1000ms
    var(--transition-timing-function) 1800ms forwards;
}

.hero__decorative-element-bg--sofa {
  width: 852px;
  -webkit-animation: visibilityDecorativeElementSofa 1000ms
    var(--transition-timing-function) 900ms forwards;
          animation: visibilityDecorativeElementSofa 1000ms
    var(--transition-timing-function) 900ms forwards;
}

.hero__decorative-element-bg--plant {
  width: 209px;
  -webkit-animation: visibilityDecorativeElementPlant 1000ms
    var(--transition-timing-function) 1400ms forwards;
          animation: visibilityDecorativeElementPlant 1000ms
    var(--transition-timing-function) 1400ms forwards;
}

.hero__container {
  position: relative;
  padding-top: 345px;
  padding-bottom: 228px;

  -webkit-animation: visibilityDecorBgHero 600ms var(--transition-timing-function) 600ms
    forwards;

          animation: visibilityDecorBgHero 600ms var(--transition-timing-function) 600ms
    forwards;

  overflow: hidden;
}

.hero__title {
  margin-bottom: 105px;
  width: 640px;
  font-family: var(--accent-font-family);
  font-weight: 600;
  font-size: 76px;
  line-height: 1.22;
}

.hero__title--accent {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);

    -webkit-animation: lineVisibilityUnderTitle 500ms var(--transition-timing-function)
      100ms forwards;

            animation: lineVisibilityUnderTitle 500ms var(--transition-timing-function)
      100ms forwards;
  }
}

.hero__text {
  margin-bottom: 104px;
  width: 489px;
  font-weight: 500;
  color: var(--main-color-with-transparency);
}

.hero__btn {
  position: relative;
  z-index: 2;
}

.hero_decor {
  position: absolute;
  bottom: 49px;
  left: 441px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 42px;
  width: 135px;
  height: 130px;
}

.hero_decor--up {
  top: 270px;
  left: 797px;
  width: 135px;
  height: 130px;
}

.hero_decor--down {
  bottom: 49px;
  left: 441px;
  width: 135px;
  height: 130px;
}

.hero_circle {
  width: 17px;
  height: 17px;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(158, 149, 185, 0.1)),
    color-stop(rgba(135, 146, 173, 0.1)),
    color-stop(rgba(97, 106, 140, 0.1)),
    to(rgba(83, 91, 128, 0.1))
  );
  background: -o-linear-gradient(
    rgba(158, 149, 185, 0.1),
    rgba(135, 146, 173, 0.1),
    rgba(97, 106, 140, 0.1),
    rgba(83, 91, 128, 0.1)
  );
  background: linear-gradient(
    rgba(158, 149, 185, 0.1),
    rgba(135, 146, 173, 0.1),
    rgba(97, 106, 140, 0.1),
    rgba(83, 91, 128, 0.1)
  );
  border-radius: 50%;
}

.hero_left-wide-line {
  position: absolute;
  top: 370px;
  left: -232px;
  width: 342px;
  height: 65px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(94, 87, 73, 0.1)), to(rgba(159, 155, 137, 0.1)));
  background: -o-linear-gradient(rgba(94, 87, 73, 0.1), rgba(159, 155, 137, 0.1));
  background: linear-gradient(rgba(94, 87, 73, 0.1), rgba(159, 155, 137, 0.1));
  border-radius: 30px;
}

.hero_left-thin-line {
  position: absolute;
  top: 403px;
  left: -149px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 273px;
  height: 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(94, 87, 73, 0.1)), to(rgba(159, 155, 137, 0.1)));
  background: -o-linear-gradient(rgba(94, 87, 73, 0.1), rgba(159, 155, 137, 0.1));
  background: linear-gradient(rgba(94, 87, 73, 0.1), rgba(159, 155, 137, 0.1));
  border-radius: 9px;
}

.hero_down-small-line {
  position: absolute;
  right: 600px;
  bottom: 67px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 148px;
  height: 26px;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(136, 128, 113, 0.4)),
    to(rgba(201, 198, 185, 0.4))
  );
  background: -o-linear-gradient(
    rgba(136, 128, 113, 0.4),
    rgba(201, 198, 185, 0.4)
  );
  background: linear-gradient(
    rgba(136, 128, 113, 0.4),
    rgba(201, 198, 185, 0.4)
  );
  border-radius: 13px;
}

.hero_down-medium-line {
  position: absolute;
  right: 444px;
  bottom: 34px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 225px;
  height: 43px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(94, 87, 73, 0.6)), to(rgba(159, 155, 137, 0.6)));
  background: -o-linear-gradient(rgba(94, 87, 73, 0.6), rgba(159, 155, 137, 0.6));
  background: linear-gradient(rgba(94, 87, 73, 0.6), rgba(159, 155, 137, 0.6));
  border-radius: 22px;
}

.hero_down-big-line {
  position: absolute;
  right: 429px;
  bottom: 37px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 394px;
  height: 75px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(94, 87, 73, 0.2)), to(rgba(159, 155, 137, 0.2)));
  background: -o-linear-gradient(rgba(94, 87, 73, 0.2), rgba(159, 155, 137, 0.2));
  background: linear-gradient(rgba(94, 87, 73, 0.2), rgba(159, 155, 137, 0.2));
  border-radius: 37px;
}