.modal {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 250ms var(--transition-timing-function);

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.modal__backdrop {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 250ms var(--transition-timing-function);
}

.modal__content {
  position: relative;
  z-index: 10;
  background-color: transparent;
  width: 540px;
  height: 100%;
  padding-top: 50px;
  border-radius: 20px;
  transition: all 250ms var(--transition-timing-function);
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

  .modal.open & {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
  }

  cursor: auto;
}

.list-of-links {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}

.list-of-links_item {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--main-bg);
}

.list-of-links_link {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  text-align: center;
  color: inherit;

  transition: all 250ms var(--transition-timing-function);

  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }

  &.no-active {
    z-index: 12;
    position: relative;
    box-shadow: inset 0px 5px 10px 0px var(--button-box-shadow-color);
    border-left: 1px solid rgb(189, 177, 177);
    border-bottom: 1px solid rgb(189, 177, 177);
    border-radius: 20px;
  }

  &.no-active.sign-in-link {
    border-bottom-right-radius: 0px;
  }

  &.no-active.registration-link {
    border-bottom-left-radius: 0px;
  }
}

.card {
  z-index: 10;
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.card.open {
  display: block;
}

.form-wrapper {
  padding: 70px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--main-bg);
}

.user-form {
  margin-bottom: 40px;
}

.user-form__input-wrapper {
  position: relative;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 50px;
  }
}

.user-from__input {
  display: block;
  width: 100%;
  padding: 16px 18px 16px 50px;
  color: var(--main-color);
  border-radius: 4px;
  border: 1px solid var(--main-color-with-transparency-secondary);

  transition: all 250ms var(--transition-timing-function);

  &::placeholder {
    color: var(--main-color-with-transparency-secondary);
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: var(--accent-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.user-form_icon {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 24px;
  height: 24px;
  stroke: var(--main-color-with-transparency-secondary);

  transition: all 250ms var(--transition-timing-function);

  .user-form__input-wrapper:hover &,
  .user-form__input-wrapper:focus & {
    stroke: var(--accent-color);
  }
}

.user-form_btn {
  width: 100%;
}

.cancel-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: var(--accent-font-family);
  font-weight: 700;
  font-size: inherit;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 50px;

  transition: all 250ms var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--main-color);
    background-color: var(--accent-color);
  }
}
