.reviews {
  background-color: var(--bg-secondary);
}

.reviews__container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../images/decor-img-1-reviews.svg),
    url(../images/decor-img-2-reviews.svg);
  background-repeat: no-repeat;
  background-position: top 0px left 16px, bottom 114px left 121px;
}

.reviews__title {
  margin-bottom: 42px;

  &.decor-title-element::after {
    width: 348px;
  }
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.reviews__item {
  position: relative;
  padding-top: 50px;
  -ms-flex-preferred-size: calc((100% - 2 * 30px) / 3);
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.reviews__img-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 108px;
  height: 108px;
  background-color: var(--bg-under-img);
  border: 2px solid var(--border-color-secondary);
  border-radius: 50%;
  overflow: hidden;

  -webkit-transition: -webkit-box-shadow 250ms var(--transition-timing-function);

  transition: -webkit-box-shadow 250ms var(--transition-timing-function);

  -o-transition: box-shadow 250ms var(--transition-timing-function);

  transition: box-shadow 250ms var(--transition-timing-function);

  transition: box-shadow 250ms var(--transition-timing-function),
    -webkit-box-shadow 250ms var(--transition-timing-function);

  .reviews__item:hover &,
  .reviews__item:focus & {
    -webkit-box-shadow: 0px 4px 9px 0px var(--box-shadow-secondary);
    box-shadow: 0px 4px 9px 0px var(--box-shadow-secondary);
  }
}

.reviews__content-wrapper {
  padding: 108px 21px 50px 21px;
  background: var(--card-bg-color);
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px 4px 0px var(--box-shadow);
  box-shadow: 0px 2px 4px 0px var(--box-shadow);

  -webkit-transition: -webkit-box-shadow 250ms var(--transition-timing-function);

  transition: -webkit-box-shadow 250ms var(--transition-timing-function);

  -o-transition: box-shadow 250ms var(--transition-timing-function);

  transition: box-shadow 250ms var(--transition-timing-function);

  transition: box-shadow 250ms var(--transition-timing-function),
    -webkit-box-shadow 250ms var(--transition-timing-function);

  .reviews__item:hover &,
  .reviews__item:focus & {
    -webkit-box-shadow: 0px 2px 18px 0px var(--box-shadow-secondary);
    box-shadow: 0px 2px 18px 0px var(--box-shadow-secondary);
  }
}

.reviews__text,
.reviews__name,
.reviews__profession {
  text-align: center;
}

.reviews__text {
  margin-bottom: 50px;
  font-size: 18px;
  letter-spacing: 1.62px;
  color: var(--main-color-with-transparency);
}

.reviews__name {
  font-weight: 700;
  letter-spacing: 1.98px;
  color: var(--secondary-color);
}

.reviews__profession {
  font-size: 20px;
  letter-spacing: 1.8px;
  color: var(--secondary-color);
}
