.sale__container {
  padding: 80px 150px;
  background-image: url(../images/decor-img-sale-2-min.png),
    url(../images/decor-img-sale-1-min.png);
  background-repeat: no-repeat;
  background-position: left -39px bottom 10px, right 44px top 32px;
}

.sale__content {
  padding-top: 60px;
  width: 1520px;
  height: 767px;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.2)),
      color-stop(0.01%, rgba(0, 0, 0, 0.05))
    ),
    url(../images/bg-img-sale-min.png),
    lightgray 1.6px -106.427px / 100% 146.938% no-repeat;
  background: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.05) 0.01%
    ),
    url(../images/bg-img-sale-min.png),
    lightgray 1.6px -106.427px / 100% 146.938% no-repeat;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.05) 0.01%
    ),
    url(../images/bg-img-sale-min.png),
    lightgray 1.6px -106.427px / 100% 146.938% no-repeat;
  border: 5px solid var(--border-color-third);
  border-radius: 50px;
}

.sale__title {
  margin-bottom: 34px;
  color: var(--secondary-color);
}

.sale__timer {
  margin-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 71px;
}

.sale__days,
.sale__hours,
.sale__minutes,
.sale__seconds {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: var(--secondary-color);
}

.sale__timer-value {
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 66px;
  height: 66px;
  font-size: 24px;
  border: 1px solid var(--border-timer-color);
  border-radius: 50%;
}

.sale__timer-state {
  position: absolute;
  bottom: 11px;
  left: -20px;
  -webkit-transform: rotateZ(270deg) rotateX(178deg);
  transform: rotateZ(270deg) rotateX(178deg);
}

.sale__circle {
  stroke: var(--main-bg);
  stroke-width: 5;
  fill: transparent;
  stroke-dasharray: 208;

  &.days.is-hidden {
    display: none;
  }

  &.hours.is-hidden {
    display: none;
  }

  &.minutes.is-hidden {
    display: none;
  }

  &.seconds.is-hidden {
    display: none;
  }
}

.sale__timer-text {
  font-style: italic;
  font-size: 16px;
  text-align: center;
}

.sale__btn {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
}
