.subscription {
  background: var(--bg-secondary);
}

.subscription__container {
  padding: 80px 190px;
  background-image: url(../images/decor-img-subscription-1.svg),
    url(../images/decor-img-subscription-2.svg);
  background-repeat: no-repeat;
  background-position: top 7px left 56px, bottom 85px right -230px;
}

.subscription__content-wrapper {
  padding: 100px 720px 343px 110px;
  background-color: var(--bg-under-img);
  background-image: url(../images/bg-img-subscription-min.jpg);
  border-radius: 20px;
  box-shadow: 0px 34px 62px 0px var(--box-shadow);
}

.subscription__title {
  text-align: left;
  line-height: 1.2;

  &.decor-title-element::after {
    left: 0;
    transform: translateY(0);
    width: 610px;
  }
}

.subscription__text {
  margin-bottom: 80px;
  color: var(--secondary-color);
  text-align: center;
}

.subscription__form {
  position: relative;
}

.subscription__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 210px;
}

.subscription__input {
  padding: 26px 40px;
  width: 100%;
  background-color: var(--third-color);
  border-radius: 150px;
  box-shadow: 0px 4px 4px 0px var(--box-shadow-third);
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: var(--accent-color);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }

  &::placeholder,
  &::placeholder {
    color: var(--secondary-color);
  }

  &:focus::placeholder,
  &:hover::placeholder {
    color: var(--accent-color);
  }
}
